@page
@model N1_WebAplikazioa.Views.Jokoak.Index

@{
    ViewBag.Title = "Jokoak";
    //ViewData["Title"] = "Jokoak";
}

<!DOCTYPE html>

<html>
<head>
    <title>Jokoak</title>
</head>
<body>
<div>
    <h1>
        Jokoak
    </h1>
    <div style="display:flex; padding: 10px; margin: 10px 0;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:500px; margin-right:10px;" alt="Johnny jokoaren argazkia" src="https://i.imgur.com/cgXPtkE.png"/>
        <div class="flex-column h-100">
            <h2>Johnny - 5★</h2>
            <h5>Number1</h5>
            <p>Johnny jokoa</p>
            <div style="display: flex; align-items: end; height: 100%">
                <a href="/Ranking?game=johnny">
                    <button class="btn btn-dark" style="margin-right:10px">Ranking-a ikusi</button>
                </a>
                <button class="btn btn-dark" disabled>Baloratu</button>
            </div>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:500px; margin-right:10px;" alt="Pouni jokoaren argazkia" src="https://i.imgur.com/gOfO64M.png"/>
        <div class="flex-column  h-100">
            <h2>Pouni - 3★</h2>
            <h5>PcBox</h5>
            <p>Pouni jokoa</p>
            <div style="display: flex; align-items: end; height: 100%">
                <a href="/Ranking?game=pouni">
                    <button class="btn btn-dark" style="margin-right:10px">Ranking-a ikusi</button>
                </a>
                <button class="btn btn-dark" disabled>Baloratu</button>
            </div>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:500px; margin-right:10px;" alt="Zombie Killer jokoaren argazkia" src="https://i.imgur.com/NjmqCj9.png"/>
        <div class="flex-column  h-100">
            <h2>Zombie Killer - 3★</h2>
            <h5>HJAA</h5>
            <p>Zombie Killer jokoa</p>
            <div style="display: flex;">
                <a href="/Ranking?game=zombiekiller">
                    <button class="btn btn-dark" style="margin-right:10px">Ranking-a ikusi</button>
                </a>
                <button class="btn btn-dark" disabled>Baloratu</button>
            </div>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:500px; margin-right:10px;" alt="MAHI Kingdom jokoaren argazkia" src="https://i.imgur.com/jKbEAB1.png"/>
        <div class="flex-column  h-100">
            <h2>MAHI kingdom - 3★</h2>
            <h5>MAHI</h5>
            <p>MAHI kingdom jokoa</p>
            <div style="display: flex; align-items: end; height: 100%">
                <a href="/Ranking?game=mahikingdom">
                    <button class="btn btn-dark" style="margin-right:10px">Ranking-a ikusi</button>
                </a>
                <button class="btn btn-dark" disabled>Baloratu</button>
            </div>
        </div>
    </div>
    @{
        //TODO: jokoen deskribapena sartu
        //TODO: balorazioak sartu
    }
</div>
</body>
</html>