@page
@model N1_WebAplikazioa.Views.Jokoak.Index

@{
    ViewBag.Title = "Jokoak";
    //ViewData["Title"] = "Jokoak";
}

<!DOCTYPE html>

<html>
<head>
    <title>Jokoak</title>
</head>
<body>
<div>
    <h1>
        Jokoak
    </h1>
    <div style="display:flex; padding: 10px; margin: 10px 0px;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:auto; margin-right:10px;" src="https://i.imgur.com/cgXPtkE.png"/>
        <div class="flex-column">
            <h2>Johnny</h2>
            <h5>Number1</h5>
            <p>Johnny jokoa</p>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0px;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:auto; margin-right:10px;" src="https://i.imgur.com/gOfO64M.png"/>
        <div class="flex-column">
            <h2>Pouni</h2>
            <h5>PcBox</h5>
            <p>Pouni jokoa</p>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0px;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:auto; margin-right:10px;" src="https://i.imgur.com/NjmqCj9.png"/>
        <div class="flex-column">
            <h2>Zombie Killer</h2>
            <h5>HJAA</h5>
            <p>Zombie Killer jokoa</p>
        </div>
    </div>
    <div style="display:flex; padding: 10px; margin: 10px 0px;" class="w-100 bg-black bg-opacity-10">
        <img style="height:300px; width:auto; margin-right:10px;" src="https://i.imgur.com/jKbEAB1.png"/>
        <div class="flex-column">
            <h2>MAHI kingdom</h2>
            <h5>MAHI</h5>
            <p>MAHI kingdom jokoa</p>
        </div>
    </div>
    
</div>
</body>
</html>