@page
@model N1_WebAplikazioa.Views.Jokoak.Index

@{
    ViewBag.Title = "Jokoak";
    ViewData["Title"] = "Jokoak";
}

<!DOCTYPE html>

<html>
<head>
    <title>Jokoak</title>
</head>
<body>
<div>
    <h1>
        Jokoak
    </h1>
    
</div>
</body>
</html>