@{
    ViewData["Title"] = "Jokoak";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table class="default">
  <tr>
    <td>
        <h3>jokoa 1</h3>
        <img class="argazkia" src="~/images/banner1.jpg" alt="jokoa 1">
        <p>puntuazioa</p>
    </td>
    <td>
        <h3>jokoa 2</h3>
        <img class="argazkia" src="~/images/banner1.jpg" alt="jokoa 2">
        <p>puntuazioa</p>
    </td>
  </tr>
  <tr>
    <td>
        <h3>jokoa 3</h3>
        <img class="argazkia" src="~/images/banner1.jpg" alt="jokoa 3">
        <p>puntuazioa</p>
    </td>
    <td>
        <h3>jokoa 4</h3>
        <img class="argazkia" src="~/images/banner1.jpg" alt="jokoa 4">
        <p>puntuazioa</p>
    </td>
  </tr>
</table>

<!--orrialdi 4 zatitten banatu, zati bakotxin jokun argazkixe eta puntuaziñoie-->